<div class="container py-f">
    <h1 class="display-5 fw-bold">Welcome to FULLSTAKE QUIZ APP</h1>
    <h4 class="mt-5">Regole: </h4>
    <ol class="my-3">
        <li>Una risposta corretta vale 10 punti</li>
        <li>Una risposta sbagliata vale -10 punti</li>
        <li>Avrai 10 domande per argomento (topic)</li>
        <li>Ricaricando la pagina il Quiz ripartirà dall'inizio azzerando i punti</li>
    </ol>


    <div class="col-md-4">
        <label for="username">Inserisci il tuo Username: </label>
        <input #username type="text" name="username" id="username" class="form-control">
    </div>

    <button class="btn btn-primary text-uppercase fw-bold d-block m-auto mt-5" routerLink="/topic-config" (click)="startQuiz()">CONTINUA</button>

</div>