<div class="login-admin">

    <!-- <img src="" alt="immagine logo"> -->

    <form class="login-admin__form">
        <div class="mb-3">
            <label for="adminName" class="form-label">Admin Name</label>
            <input type="text" class="form-control" id="adminName"  required>
        </div>
        <div class="mb-3">
            <label for="adminPassword" class="form-label">Password</label>
            <input type="password" class="form-control" id="adminPassword" required>
        </div>
        <button type="submit" class="btn btn-primary" routerLink="/admin-page">Accedi</button>
    </form>
</div>