<div class="add-question">
    <form action="" class="add-question__form">

        <!--? SELEZIONA TOPIC (estratto da topic-config) -->

        <div class="card-body my-4">
            <h5 class="card-title">Seleziona l'argomento</h5>
            <div class="topic-button d-flex justify-content-around gap-2 my-4">
                <ng-container *ngFor="let topic of topicList; let i = index">
                    <!-- BUTTON TOPIC -->
                    <button class="btn btn-warning text-uppercase fw-bold" type="button" id="button-topic"
                        [class.btn-danger]="selectedButtonIndex === i"
                        (click)="selectTopic(topicList[i].topicTitle, topicList[i].id, i)">
                        {{topicList[i].topicTitle}}
                    </button>
                </ng-container>
            </div>
            <input type="number" [(ngModel)]="currTopicId" name="topicTitle" id="currTopicId" readonly hidden>
        </div>

        <!--? QUESTION -->

        <div class="my-3">
            <label for="questionId" class="form-label">
                <h5>DOMANDA</h5>
            </label>
            <textarea class="form-control" input="text" id="questionId" rows="3" style="resize: none" name="question"
                [(ngModel)]="question"></textarea>
        </div>

        <!--? RISPOSTE GIUSTA -->

        <div class="my-3">
            <label for="correctAnswer">
                <h5>Risposta <span>CORRETTA</span></h5>
            </label>
            <textarea class="form-control border border-5 border-success text-success" id="correctAnswer" rows="3"
                style="resize: none" name="correctAnswer" [(ngModel)]="correctAnswer.risposta"></textarea>
        </div>

        <!--? RISPOSTE FALSE -->

        <!-- <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">FALSO</label>
            <textarea class="form-control  border border-5 border-danger" id="unCorrectAnswer" rows="3"
                style="resize: none" name="unCorrectAnswer" [(ngModel)]="unCorrectAnswer[0].risposta"></textarea>
        </div> -->

        <!--? Aggiungi una sezione per le risposte errate -->
        <div *ngFor="let answer of unCorrectAnswer; let i = index" class="my-3">
            <button type="button" class="btn-close" aria-label="Close"></button>
            <div>
                <label for="unCorrectAnswer{{i + 1}}" class="form-label">
                    <h5>Risposta <span> FALSA </span>{{i + 1}} </h5>
                </label>
                <textarea class="form-control  border border-5 border-danger" id="unCorrectAnswer{{i + 1}}" rows="3"
                    style="resize: none" name="unCorrectAnswer{{i + 1}}"
                    [(ngModel)]="unCorrectAnswer[i].risposta"></textarea>
            </div>
        </div>

        <!--? BUTTONS -->
        <div class="d-flex justify-content-between">
            <button class="btn btn-danger text-uppercase fw-bold" (click)="addWrongAns()">Aggiungi
                Risposta FALSA</button>
            <button class="btn btn-primary text-uppercase fw-bold rounded-circle" (click)="inviaForm()">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-send-fill" viewBox="0 0 16 16">
                    <path
                        d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083l6-15Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471-.47 1.178Z" />
                </svg>
            </button>
        </div>
    </form>
</div>